<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闪屏</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <script src="<?php echo JS_PATH . 'jquery-3.2.1.min.js'?>"></script>
    <link rel="stylesheet" href="<?php echo CSS_PATH . 'rem.css'?>">
    <link rel="stylesheet" href="<?php echo CSS_PATH . 'bass.css'?>">
    <link rel="stylesheet" href="<?php echo CSS_PATH . 'flash.css'?>">
</head>
<body>
<div class="min">
    <div class="imgbox">
        <img src="<?php echo IMG_PATH.'flash1.png'?>" alt="">
        <img src="<?php echo IMG_PATH.'flash2.png'?>" alt="">
        <img src="<?php echo IMG_PATH.'flash3.png'?>" alt="">
    </div>
    <ul class="dian">
        <li class="dian1 tiao"></li>
        <li class="dian1"></li>
        <li class="dian1"></li>
    </ul>
</div>
</body>
</html>
<script src="<?php echo JS_PATH.'flash.js'?>"></script>