<script src="<?php echo JS_PATH . 'footer.js'?>"></script>
<link rel="stylesheet" href="<?php echo CSS_PATH . 'footer.css' ?>">
<footer>
    <ul>
        <li>
            <div class="active ">
                <a href="/SGC/index.php/main" class="active">
                    <img src="<?php echo IMG_PATH . '00636541.png'?>" alt="">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="/SGC/index.php/store">
                    <img src="<?php echo IMG_PATH . '00878632.png'?>" alt="">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="/SGC/index.php/order">
                    <img src="<?php echo IMG_PATH . '022784521.png'?>" alt="">
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="/SGC/index.php/Personal">
                    <img src="<?php echo IMG_PATH . '03098651.png'?>" alt="">
                </a>
            </div>
        </li>
    </ul>
</footer>