<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>送青来</title>
    <script src="<?php echo JS_PATH . 'jquery.min.js'?>"></script>
    <script src="<?php echo JS_PATH .'iscroll.js'?>"></script>
    <!--<script src="<?php echo JS_PATH .'ggg.js'?>"></script>-->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH ; ?>rem.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH ; ?>bass.css">
</head>
<body style="overflow: scroll">

