<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录注册首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <script src="<?php echo JS_PATH . 'jquery-3.2.1.min.js'?>"></script>
    <link rel="stylesheet" href="<?php echo CSS_PATH . 'rem.css'?>">
    <link rel="stylesheet" href="<?php echo CSS_PATH . 'bass.css'?>">
    <link rel="stylesheet" href="<?php echo CSS_PATH . 'login.css'?>">
</head>
<body>
<div class="login_bg">
    <div class="portrait">
        <img src="<?php echo IMG_PATH.'login_portrait.png'?>" alt="">
    </div>
    <div class="classify">
        <a href="/SGC/index.php/login/login1" class="login">
            <img src="<?php echo IMG_PATH.'login_classify.png'?>" alt="">
            <div class="text">
                <span>登录</span>
                <span>login</span>
            </div>
        </a>
        <a href="/SGC/index.php/login/register" class="signup">
            <img src="<?php echo IMG_PATH.'login_classify.png'?>" alt="">
            <div class="text">
                <span>注册</span>
                <span>sign up</span>
            </div>
        </a>
    </div>
    <div class="party">
        <img src="<?php echo IMG_PATH.'login_three.png'?>" alt="">
    </div>
    <div class="icon">
        <a href="#">
            <img src="<?php echo IMG_PATH.'login_qq.png'?>" alt="">
        </a>
        <a href="#">
            <img src="<?php echo IMG_PATH.'login_WeChat.png'?>" alt="">
        </a>
        <a href="#">
            <img src="<?php echo IMG_PATH.'login_Sina.png'?>" alt="">
        </a>
    </div>
</div>
</body>
</html>