<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络异常</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <link rel="stylesheet" href="<?php echo CSS_PATH . 'rem.css'?>">
    <link rel="stylesheet" href="<?php echo CSS_PATH . 'bass.css'?>">
    <link rel="stylesheet" href="<?php echo CSS_PATH . 'header.css'?>">
    <link rel="stylesheet" href="<?php echo CSS_PATH . 'network.css'?>">
</head>
<body>
<div class="share_bg">
    <div class="frame">
        <a href="#" class="close">
            <img src="<?php echo IMG_PATH . 'network.png'?>" alt="">
        </a>
    </div>
</div>
</body>
</html>