<?php include  VIEW_PATH.'headercommon.html';?>
<div class="backbar" id="topbar">
    <div class="bacheader">
        <div class="hleft"><a href="/SGC/index.php/order" style="width:100%;height:100%;display: block;"></a></div>
        <div class="hmid">
            <p class="cn">订单详情</p>
            <p class="en">LINE ITEMS</p>
            <div class="decorate"></div>
        </div>
        <div class="hright"><a href="##"></a></div>
    </div>
</div>
<div class="main">
    <div class="items">
        <div class="item">
            <div class="imgs"><img src="/SGC/Public/img/orderinfo_10.png" alt=""></div>
            <div class="title">
                <p>新鲜美味草莓</p>
                <div class="info">
                    <span>01</span>
                    <span>50.00</span>
                    <span>RMB</span>
                </div>
            </div>
            <div class="level">
                <div class="starbox">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <div class="count">数量：<span>1</span></div>
            </div>
            <div class="price">
                <p>RMB</p>
                <p>50.00</p>
            </div>
        </div>
        <div class="item">
            <div class="imgs"><img src="/SGC/Public/img/orderinfo_10.png" alt=""></div>
            <div class="title">
                <p>新鲜美味草莓</p>
                <div class="info">
                    <span>01</span>
                    <span>50.00</span>
                    <span>RMB</span>
                </div>
            </div>
            <div class="level">
                <div class="starbox">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <div class="count">数量：<span>1</span></div>
            </div>
            <div class="price">
                <p>RMB</p>
                <p>50.00</p>
            </div>
        </div>
        <div class="item">
            <div class="imgs"><img src="/SGC/Public/img/orderinfo_10.png" alt=""></div>
            <div class="title">
                <p>新鲜美味草莓</p>
                <div class="info">
                    <span>01</span>
                    <span>50.00</span>
                    <span>RMB</span>
                </div>
            </div>
            <div class="level">
                <div class="starbox">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <div class="count">数量：<span>1</span></div>
            </div>
            <div class="price">
                <p>RMB</p>
                <p>50.00</p>
            </div>
        </div>
    </div>
    <div class="payMoney">
        <div class="logo"></div>
        <div class="tips">
            <p>支付金额</p>
            <p>ZHIFUJINE</p>
        </div>
    </div>
    <div class="allprice">
        128.00
    </div>
</div>
<div class="select">
    <div class="option">
        <div class="oleft"></div>
        <div class="omid">
            <div class="content">
                <p>订单号</p>
                <p>DINGDANHAO</p>
                <p>51408341507</p>
            </div>
            <div class="oright"></div>
        </div>

    </div>
    <div class="option">
        <div class="oleft"></div>
        <div class="omid">
            <div class="content">
                <p>配送时间</p>
                <p>PEISONGSHIJIAN</p>
                <p></p>
            </div>
            <div class="oright">
                <P>全天</P>
            </div>
        </div>

    </div>
    <div class="option">
        <div class="oleft"></div>
        <div class="omid">
            <div class="content">
                <p>预计送达时间</p>
                <p>YUJISONGDASHIJIAN</p>
            </div>
            <div class="oright">
                <P>17:30</P>
            </div>
        </div>

    </div>
    <div class="option">
        <div class="oleft"></div>
        <div class="omid">
            <div class="content">
                <p>配送方式</p>
                <p>PEISONGFANGSHI</p>
                <div>两小时极速配送</div>
            </div>
            <div class="oright"></div>
        </div>

    </div>
    <div class="option">
        <div class="oleft"></div>
        <div class="omid">
            <div class="content">
                <p>送货地址</p>
                <p>SONGHUODIZHI</p>
                <div>山西省太原市小店区学府街平阳路口122号凯通大厦</div>
            </div>
        </div>

    </div>
    <div class="submit">
        <a href="/SGC/index.php/order/paymethod">
            <p>立即支付</p>
            <div class="pointL"></div>
            <div class="pointR"></div>
        </a>

    </div>
</div>
<div class="boot"></div>
<?php include VIEW_PATH.'footer.html';?>
</body>
</html>
<script src="<?php echo JS_PATH.'orderinfo.js' ?>"></script>
<link rel="stylesheet" href="<?php  echo CSS_PATH.'orderinfo.css';?>">