<?php include  VIEW_PATH.'headercommon.html';?>
<div class="topbar">
    <div class="header">
        <div class="hleft"><a href="/SGC/index.php/order/orderinfo" style="width:100%;height:100%;display: block;"></a></div>
        <div class="hmid">
            <p class="cn">支付方式</p>
            <p class="en">ZHIFUFANGSHI</p>
            <div class="decorate"></div>
        </div>
        <div class="hright"><a href="##"></a></div>
    </div>
</div>
<div class="section">
    <div class="select">
        <a href="##">
            <div class="option">
                <div class="oleft">
                    <img src="/SGC/Public/img/paymethod_03.png" alt="">
                </div>
                <div class="omid">
                    <div class="content">
                        <p>银行卡支付</p>
                       <div>使用绑定的银行卡可在线支付</div>
                    </div>
                    <div class="oright">
                        <p>go</p>
                    </div>
                </div>

            </div>
        </a>
        <a href="##">
            <div class="option">
                <div class="oleft">
                    <img src="/SGC/Public/img/paymethod_06.png" alt="">
                </div>
                <div class="omid">
                    <div class="content">
                        <p>银行卡支付</p>
                       <div>使用绑定的银行卡可在线支付</div>
                    </div>
                    <div class="oright">
                        <p>go</p>
                    </div>
                </div>

            </div>
        </a>
        <a href="##">
            <div class="option">
                <div class="oleft">
                    <img src="/SGC/Public/img/paymethod_08.png" alt="">
                </div>
                <div class="omid">
                    <div class="content">
                        <p>微信支付</p>
                       <div>使用微信便捷安全支付</div>
                    </div>
                    <div class="oright">
                        <p>go</p>
                    </div>
                </div>

            </div>
        </a>
        <a href="##">
            <div class="option">
                <div class="oleft">
                    <img src="/SGC/Public/img/paymethod_10.png" alt="">
                </div>
                <div class="omid">
                    <div class="content">
                        <p>货到付款</p>
                       <div>选择货到付款提交订单后完成此操作</div>
                    </div>
                    <div class="oright">
                        <p>go</p>
                    </div>
                </div>

            </div>
        </a>
        <a href="##">
            <div class="option">
                <div class="oleft">
                    <img src="/SGC/Public/img/paymethod_12.png" alt="">
                </div>
                <div class="omid">
                    <div class="content">
                        <p>好友代付款</p>
                       <div>发送连接给好友帮你完成支付</div>
                    </div>
                    <div class="oright">
                        <p>new</p>
                    </div>
                </div>

            </div>
        </a>
    </div>
</div>

<div class="submit">
    <a href="/SGC/index.php/order/selectcard">
        <p>下一步</p>
        <div class="pointL"></div>
        <div class="pointR"></div>
    </a>

</div>
<div class="boot"></div>
<?php include VIEW_PATH.'footer.html';?>
</body>
</html>
<script src="<?php echo JS_PATH.'paymethod.js' ?>"></script>
<link rel="stylesheet" href="<?php  echo CSS_PATH.'paymethod.css';?>">