<?php include VIEW_PATH.'headercommon.html'?>
<header>
    <div class="top left">
        <a href="/SGC/index.php/main" style="width: 100%;height: 100%;display: block;"></a>
    </div>
    <div class="top mid">
        <span>搜索你想要的</span>

        <p>SOU SUO NI XIANG YAO DE</p>

        <div class="dow"></div>
    </div>
    <div class="top right"></div>
</header>

<section>
    <!--输入框弹出-->
    <div class="search-alert">
        <div class="searchbox">
            <div class="container">
                <form action="/SGC/index.php/search/details">
                    <input type="text" value="" class="search searching">
                    <button class="button">
                        <img src="<?php echo IMG_PATH?>search.png" alt="">
                    </button>
                </form>

            </div>
        </div>
        <div class="search-list">
            <span></span>
            <ul class="search-menu">

            </ul>
        </div>
    </div>
    <!--输入框-->
    <div class="searchbox">
        <div class="container">
            <input type="text" placeholder="搜一搜你想要的......" onfocus="this.placeholder=''"
                   onblur="this.placeholder='搜一搜你想要的......'"
                   class="search" id="search">
            <button class="button">
                <img src="<?php echo IMG_PATH?>search.png" alt="">
            </button>
        </div>
    </div>
    <!--热门搜索-->
    <div class="container">
        <div class="hot-search-title">
            <div class="fruit-one"
                 style='background:url(<?php echo IMG_PATH?>s_watermelon.png) no-repeat center/cover'></div>
            <ul class="title-right">
                <li>
                    <p><strong>热门</strong>搜索</p>
                </li>
                <li>
                    <p><strong>RENMEN</strong>SOSUOCI</p>

                    <P><a href="">MORE</a></P>
                </li>
                <li style="background:url(<?php echo IMG_PATH?>s_divider.png) no-repeat center/cover"></li>
            </ul>
        </div>
        <ul class="hot-search-recommend container">
            <?php foreach($hot_search as $k=>$v):?>
            <li>
                <span></span>
                <?php echo $v['keyword']?>
                <span></span>
            </li>
            <?php endforeach;?>
        </ul>
    </div>
    <!--分类搜索-->
    <div class="sort-search">
        <div class="hot-search-title" style="width:7rem;margin:0 auto;">
            <div class="fruit-two" style='background:url(<?php echo IMG_PATH?>s_pear.png) no-repeat center/cover'></div>
            <ul class="title-right">
                <li>
                    <p><strong>分类</strong>搜索</p>
                </li>
                <li>
                    <p><strong>fenlei</strong>sosuo</p>

                    <P><a href="">MORE</a></P>
                </li>
                <li style="background:url(<?php echo IMG_PATH?>s_divider.png) no-repeat center/cover"></li>
            </ul>
        </div>
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide s-one">
                        <ul>
                            <li></li>
                            <li>进口水果</li>
                            <li>JINKOU</li>
                        </ul>
                        <div class="s-pic"
                             style="background:url('<?php echo IMG_PATH?>s_s1.png') no-repeat center/cover"></div>
                    </div>
                    <div class="swiper-slide s-two">
                        <ul>
                            <li></li>
                            <li>应季水果</li>
                            <li>YINGJI SHUIGU</li>
                        </ul>
                        <div class="s-pic"
                             style="background:url('<?php echo IMG_PATH?>s_s2.png') no-repeat center/cover"></div>
                    </div>
                    <div class="swiper-slide s-three">
                        <ul>
                            <li></li>
                            <li>特色定制</li>
                            <li>TESE DINGZHI</li>
                        </ul>
                        <div class="s-pic"
                             style="background:url('<?php echo IMG_PATH?>s_s2.png') no-repeat center/cover"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--大家都在买-->
    <div class="container">
        <div class="hot-search-title">
            <div class="fruit-three"
                 style='background:url(<?php echo IMG_PATH?>s_tomato.png) no-repeat center/cover'></div>
            <ul class="title-right">
                <li>
                    <p><strong>大家</strong>都在买</p>
                </li>
                <li>
                    <p><strong>DAJIA</strong>DOUZAIMAI</p>

                    <P><a href="">MORE</a></P>
                </li>
                <li style="background:url(<?php echo IMG_PATH?>s_divider.png) no-repeat center/cover"></li>
            </ul>
        </div>
        <ul class="hot-search-buy">
            <li>
                <div class="price">
                    <h3>26.00</h3>
                </div>
                <div class="fruit-img"
                     style="background:url('<?php echo IMG_PATH?>sh_shpin4.png') no-repeat center/cover"></div>
                <div class="fruit-mask">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="fruit-down">
                    <div class="fruit-logo"></div>
                    <div class="fruit-bottom"></div>
                    <ul class="fruit-down-buy">
                        <li>ShiLiu</li>
                        <li>石榴</li>
                        <li>
                            <p></p>

                            <p></p>

                            <p></p>

                            <p></p>

                            <p></p>
                        </li>
                    </ul>
                    <div class="fruit-buy">购买</div>
                </div>
            </li>
            <li>
                <div class="price">
                    <h3>26.00</h3>
                </div>
                <div class="fruit-img"
                     style="background:url('<?php echo IMG_PATH?>s_s5.png') no-repeat center/cover"></div>
                <div class="fruit-mask">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="fruit-down">
                    <div class="fruit-logo"></div>
                    <div class="fruit-bottom"></div>
                    <ul class="fruit-down-buy">
                        <li>xiancheng</li>
                        <li>鲜橙</li>
                        <li>
                            <p></p>

                            <p></p>

                            <p></p>

                            <p></p>

                            <p></p>
                        </li>
                    </ul>
                    <div class="fruit-buy">购买</div>
                </div>
            </li>
            <li>
                <div class="price">
                    <h3>26.00</h3>
                </div>
                <div class="fruit-img"
                     style="background:url('<?php echo IMG_PATH?>s_s6.png') no-repeat center/cover"></div>
                <div class="fruit-mask">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="fruit-down">
                    <div class="fruit-logo"></div>
                    <div class="fruit-bottom"></div>
                    <ul class="fruit-down-buy">
                        <li>youzi</li>
                        <li>柚子</li>
                        <li>
                            <p></p>

                            <p></p>

                            <p></p>

                            <p></p>

                            <p></p>
                        </li>
                    </ul>
                    <div class="fruit-buy">购买</div>
                </div>
            </li>
        </ul>
    </div>
</section>

</body>
</html>
<link rel="stylesheet" href="<?php echo CSS_PATH?>search.css">
<script src="<?php echo JS_PATH?>search.js"></script>


