<?php  include VIEW_PATH.'headercommon.html'?>
<input type="hidden" value="<?php echo $id?>" id="hidden">

<link rel="stylesheet" href="<?php echo CSS_PATH . 'store.css'?>">
<script src="<?php echo JS_PATH . 'ggg.js'?>"></script>
<header>
    <div class="top left"><a href="" style="width:100%;height: 100%;display: none"></a></div>
    <div class="top mid">
        <span>商品分类</span>

        <p>SHANG PIN FEN LEI</p>

        <div class="dow"></div>
    </div>
    <div class="top right"><a href="" style="width:100%;height: 100%;display: block"></a></div>
</header>
<section class="center-section" style="background: #F1F0F0;padding-bottom: 1rem">
    <div class="scrolls">
        <div style=" width: 100%;height: auto;">
            <div class="mid">
                <div class="banner">
                    <img src="<?php echo IMG_PATH.'z_bannerzz.png'?>" alt="">
                </div>
            </div>
            <div class="mid_ak">
                <div class="art"></div>
                <div class="mid_a">
                    <div class="across left"></div>
                    <div class="mid_ab">
                        <h5>TEJIAZHUAN</h5>

                        <p>QUANGUOSONG</p>
                        <span>全国送</span>
                    </div>
                    <div class="across right"></div>
                </div>
            </div>
            <div class="control">
                <div class="fruit foods">
                    <a href="/SGC/index.php/store/allstore" style="width:100%;height: 100%;display:block">
                        <p>SUOYOU</p>
                        <h5>SHANGPIN</h5>
                        <span>所有商品</span>

                        <div></div>
                    </a>
                </div>
                <div class="fruit nutrition">
                    <a href="/SGC/index.php/store/nutrition" style="width:100%;height: 100%;display:block">
                        <p>DAPEI</p>
                        <h5>YINGYANG</h5>
                        <span>营养搭配</span>

                        <div></div>
                    </a>
                </div>
                <div class="fruit recommend">
                    <a href="#" style="width:100%;height: 100%;display:block">
                        <p>TUIJIAN</p>
                        <h5>DANGJI</h5>
                        <span>当季推荐</span>

                        <div></div>
                    </a>
                </div>
                <div class="fruit fruitage">
                    <a href="#" style="width:100%;height: 100%;display:block">
                        <p>JINKOU</p>
                        <h5>JINKOU</h5>
                        <span>进口水果</span>

                        <div></div>
                    </a>
                </div>
            </div>
            <div class="mid_bk">
                <div class="art"></div>
                <div class="mid_b">
                    <div class="across left"></div>
                    <div class="mid_bb">
                        <h5>TUIJIANMEIRI</h5>

                        <p>MEIRITUIJIAN</p>
                        <span>每日推荐</span>
                    </div>
                    <div class="across right"></div>
                </div>
            </div>
            <div class="wrapper">
                <ul class="wrapper_list">
                    <li class="list">
                        <img src="<?php echo IMG_PATH.'store_neirong1'?>" alt="">

                        <div class="list_mid">
                            <div class="list_span"><span>新鲜美味草莓</span></div>
                            <img src="<?php echo IMG_PATH.'list_1'?>" alt="">

                            <p>威海人</p>

                            <h1>FROM</h1>

                            <h2>山东烟台</h2>

                            <div class="list_tab">
                                <div class="xing"></div>
                                <span class="num">121</span>

                                <div class="shop"></div>
                                <span class="numb">231</span>

                                <div class="good"></div>
                                <span class="number">314</span>
                            </div>
                        </div>
                        <div class="list_img">
                            <img src="<?php echo IMG_PATH.'store_resou1'?>" alt="">
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<?php include VIEW_PATH.'footer.html' ?>
</body>
</html>