
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1494924788653'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1494924788653#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1494924788653') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1494924788653') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1494924788653#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shunxubofang:before { content: "\e690"; }

.ci:before { content: "\e600"; }

.zanting:before { content: "\e60a"; }

.bofang:before { content: "\e606"; }

.next:before { content: "\e601"; }

.previous:before { content: "\e607"; }

.danquxunhuan:before { content: "\e60c"; }

.suiji2:before { content: "\e60d"; }

.mulu:before { content: "\e67b"; }

.jingyin:before { content: "\e6fe"; }

.shengyin:before { content: "\e673"; }

